{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="Admin" content="">

  <title>Writing - BigBrain</title>

  <!-- Bootstrap Core CSS -->
  <link href="{% static 'writing/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="{% static 'writing/css/simple-blog-template.css' %}" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'index' %}">BigBrain</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="{% url 'blog_index' %}">Блог</a>
          </li>
          <li>
            <a href="{% url 'news_index' %}">Новости</a>
          </li>
          <li>
            <a href="{% url 'speaking' %}">Speaking</a>
          </li>
          <li>
            <a href="{% url 'listening_single' %}">Listening</a>
          </li>
          <li>
            <a href="{% url 'writing_index' %}"><strong>Writing</strong></a>
          </li>
          <li>
            <a href="{% url 'reading_index' %}">Reading</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-12">

        <!-- First Blog Post -->
        <h2 class="post-title">
          <a href="{% url 'writing_post' %}">Роман 1</a>
        </h2>
        <p class="lead">
          автор Admin
        </p>
        <p><span class="glyphicon glyphicon-time"></span> Опубликовано 28 августа, 2013 в 10:00</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, necessitatibus
          inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti debitis ipsum
          officiis rerum.</p>
        <a class="btn btn-default" href="{% url 'writing_post' %}">Прочитайте больше</a>

        <hr>

        <!-- Second Blog Post -->
        <h2 class="post-title">
          <a href="{% url 'writing_post' %}">Роман 2</a>
        </h2>
        <p class="lead">
          автор Admin
        </p>
        <p><span class="glyphicon glyphicon-time"></span> Опубликовано 28 августа, 2013 в 10:45</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, quasi, fugiat, asperiores harum
          voluptatum tenetur a possimus nesciunt quod accusamus saepe tempora ipsam distinctio minima dolorum
          perferendis labore impedit voluptates!</p>
        <a class="btn btn-default" href="{% url 'writing_post' %}">Прочитайте больше</a>

        <hr>

        <!-- Third Blog Post -->
        <h2 class="post-title">
          <a href="{% url 'writing_post' %}">Роман 3</a>
        </h2>
        <p class="lead">
          автор Admin
        </p>
        <p><span class="glyphicon glyphicon-time"></span> Опубликовано 28 августа, 2013 в 10:45</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, voluptates, voluptas dolore ipsam
          cumque quam veniam accusantium laudantium adipisci architecto itaque dicta aperiam maiores provident id
          incidunt autem. Magni, ratione.</p>
        <a class="btn btn-default" href="{% url 'writing_post' %}">Прочитайте больше</a>

        <hr>

        <!-- Pager -->
        <ul class="pager">
          <li class="previous">
            <a href="#">Пред.</a>
          </li>
          <li class="next">
            <a href="#">След.</a>
          </li>
        </ul>

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="p-3 bg-black text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center">
        <p>Copyright &copy; 2022 BigBrain</p>
      </div>
    </div>
  </footer>


  <!-- jQuery -->
  <script src="{% static 'writing/js/jquery.js' %}"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="{% static 'writing/js/bootstrap.min.js' %}"></script>

</body>

</html>