{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta name="description" content="Askbootstrap">
   <meta name="author" content="Askbootstrap">
   <title>Speaking - BigBrain</title>
   <!-- Favicon Icon -->
   <link rel="icon" type="image/png" href="img/favicon.png">
   <!-- Bootstrap core CSS-->
   <link href="{% static 'speaking_listening/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
   <!-- Custom fonts for this template-->
   <link href="{% static 'speaking_listening/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet"
      type="text/css">
   <!-- Custom styles for this template-->
   <link href="{% static 'speaking_listening/css/osahan.css' %}" rel="stylesheet">
   <!-- Owl Carousel -->
   <link rel="stylesheet" href="{% static 'speaking_listening/vendor/owl-carousel/owl.carousel.css' %}">
   <link rel="stylesheet" href="{% static 'speaking_listening/vendor/owl-carousel/owl.theme.css' %}">
</head>

<body id="page-top">
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="channel-brand" href=""><span title="" data-placement="top" data-toggle="tooltip"
            data-original-title="Verified"></span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
         aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav mr-auto">
            <li class="nav-item">
               <a class="nav-link" href="{% url 'index' %}">BigBrain</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="{% url 'blog_index' %}">Блог</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="{% url 'news_index' %}">Новости</a>
            </li>
            <li class="nav-item active">
               <a class="nav-link" href="{% url 'speaking' %}">Speaking <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="{% url 'listening_single' %}">Listening</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="{% url 'writing_index' %}">Writing</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="{% url 'reading_index' %}">Reading</a>
            </li>
         </ul>
         <form class="form-inline my-2 my-lg-0">
            <input class="form-control form-control-sm mr-sm-1" type="search" placeholder="Поиск"
               aria-label="Search"><button class="btn btn-outline-success btn-sm my-2 my-sm-0" type="submit"><i
                  class="fas fa-search"></i></button> &nbsp;&nbsp;&nbsp; <button class="btn btn-outline-danger btn-sm"
               type="button">Подписывайся <strong>1.4M</strong></button>
         </form>
      </div>
   </nav>
   &nbsp;&nbsp;
   <div class="container-fluid pt-5 pb-5">
      <div class="row">
         <div class="col-md-8 mx-auto text-center upload-video pt-5 pb-5">
            <h1><i class="fas fa-file-upload text-primary"></i></h1>
            <h4 class="mt-5">Выберите видеофайлы для загрузки</h4>
            <p class="land">или перетащите видеофайлы</p>
            <div class="mt-4">
               <a class="btn btn-outline-primary" href=""><input type="file" id="myfile" name="myfile">Загрузить
                  видео</a>
            </div>
         </div>
      </div>
   </div>
   <!-- /.container-fluid -->
   <!-- Sticky Footer -->
   <footer class="sticky-footer ml-0">
      <div class="container">
         <div class="row no-gutters">
            <div class="col-lg-6 col-sm-6">
               <p class="mt-1 mb-0"><strong class="text-dark">BigBrain</strong>.
                  <small class="mt-0 mb-0"><a class="text-primary" target="_blank" href="#">Listening</a>
                  </small>
               </p>
            </div>
         </div>
      </div>
   </footer>

   <!-- Scroll to Top Button-->
   <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
   </a>

   <!-- Bootstrap core JavaScript-->
   <script src="{% static 'speaking_listening/vendor/jquery/jquery.min.js' %}"></script>
   <script src="{% static 'speaking_listening/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
   <!-- Core plugin JavaScript-->
   <script src="{% static 'speaking_listening/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
   <!-- Owl Carousel -->
   <script src="{% static 'speaking_listening/vendor/owl-carousel/owl.carousel.js' %}"></script>
   <!-- Custom scripts for all pages-->
   <script src="{% static 'speaking_listening/js/custom.js' %}"></script>
</body>

</html>