<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Новости - BigBrain</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Bootstrap News Template - Free HTML Templates" name="keywords">
    <meta content="Bootstrap News Template - Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="lib/slick/slick.css" rel="stylesheet">
    <link href="lib/slick/slick-theme.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Nav Bar Start -->
    <div class="nav-bar">
        <div class="container">
            <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                <a href="#" class="navbar-brand">Меню</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto">
                        <a href="index.html" class="nav-item nav-link active">BigBrain</a>
                        <a href="#" class="nav-item nav-link">Блог</a>
                        <a href="#" class="nav-item nav-link">Новости</a>
                        <a href="#" class="nav-item nav-link">Speaking</a>
                        <a href="#" class="nav-item nav-link">Listening</a>
                        <a href="#" class="nav-item nav-link">Writing</a>
                        <a href="#" class="nav-item nav-link">Reading</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Nav Bar End -->

    <!-- Top News Start-->
    <div class="top-news">
        <div class="container">
            <div class="row">
                <div class="col-md-6 tn-left">
                    <div class="row tn-slider">
                        <div class="col-md-6">
                            <div class="tn-img">
                                <img src="img/news-450x350-1.jpg" />
                                <div class="tn-title">
                                    <a href="">
                                        Немного текста о новостях</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="tn-img">
                                <img src="img/news-450x350-2.jpg" />
                                <div class="tn-title">
                                    <a href="">Лучшие исторические новости мира</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 tn-right">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="tn-img">
                                <img src="img/news-350x223-1.jpg" />
                                <div class="tn-title">
                                    <a href="">Еще один текст о новостях</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="tn-img">
                                <img src="img/news-350x223-2.jpg" />
                                <div class="tn-title">
                                    <a href="">Еще один текст о новостях</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="tn-img">
                                <img src="img/news-350x223-3.jpg" />
                                <div class="tn-title">
                                    <a href="">Еще один текст о новостях</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="tn-img">
                                <img src="img/news-350x223-4.jpg" />
                                <div class="tn-title">
                                    <a href="">Еще один текст о новостях</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Top News End-->

    <!-- Category News Start-->
    <div class="cat-news">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Спортивный</h2>
                    <div class="row cn-slider">
                        <div class="col-md-6">
                            <div class="cn-img">
                                <img src="img/news-350x223-1.jpg" />
                                <div class="cn-title">
                                    <a href="">Еще один текст о новостях</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="cn-img">
                                <img src="img/news-350x223-2.jpg" />
                                <div class="cn-title">
                                    <a href="">Еще один текст о новостях</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="cn-img">
                                <img src="img/news-350x223-3.jpg" />
                                <div class="cn-title">
                                    <a href="">Еще один текст о новостях</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h2>Технологии</h2>
                    <div class="row cn-slider">
                        <div class="col-md-6">
                            <div class="cn-img">
                                <img src="img/news-350x223-4.jpg" />
                                <div class="cn-title">
                                    <a href="">Еще один текст о новостях</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="cn-img">
                                <img src="img/news-350x223-5.jpg" />
                                <div class="cn-title">
                                    <a href="">Еще один текст о новостях</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="cn-img">
                                <img src="img/news-350x223-1.jpg" />
                                <div class="cn-title">
                                    <a href="">Еще один текст о новостях</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Category News End-->

    <!-- Category News Start-->
    <div class="cat-news">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Бизнес</h2>
                    <div class="row cn-slider">
                        <div class="col-md-6">
                            <div class="cn-img">
                                <img src="img/news-350x223-5.jpg" />
                                <div class="cn-title">
                                    <a href="">Еще один текст о новостях</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="cn-img">
                                <img src="img/news-350x223-4.jpg" />
                                <div class="cn-title">
                                    <a href="">Еще один текст о новостях</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="cn-img">
                                <img src="img/news-350x223-3.jpg" />
                                <div class="cn-title">
                                    <a href="">Еще один текст о новостях</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h2>Развлекательная</h2>
                    <div class="row cn-slider">
                        <div class="col-md-6">
                            <div class="cn-img">
                                <img src="img/news-350x223-2.jpg" />
                                <div class="cn-title">
                                    <a href="">Еще один текст о новостях</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="cn-img">
                                <img src="img/news-350x223-1.jpg" />
                                <div class="cn-title">
                                    <a href="">Еще один текст о новостях</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="cn-img">
                                <img src="img/news-350x223-3.jpg" />
                                <div class="cn-title">
                                    <a href="">Еще один текст о новостях</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Category News End-->

    <!-- Tab News Start-->
    <div class="tab-news">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <ul class="nav nav-pills nav-justified">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="pill" href="#featured">Рекомендуемые</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#popular">Популярные</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#latest">Последние</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div id="featured" class="container tab-pane active">
                            <div class="tn-news">
                                <div class="tn-img">
                                    <img src="img/news-350x223-1.jpg" />
                                </div>
                                <div class="tn-title">
                                    <a href="">
                                        Немного текста о новостях</a>
                                </div>
                            </div>
                            <div class="tn-news">
                                <div class="tn-img">
                                    <img src="img/news-350x223-2.jpg" />
                                </div>
                                <div class="tn-title">
                                    <a href="">
                                        Немного текста о новостях</a>
                                </div>
                            </div>
                            <div class="tn-news">
                                <div class="tn-img">
                                    <img src="img/news-350x223-3.jpg" />
                                </div>
                                <div class="tn-title">
                                    <a href="">
                                        Немного текста о новостях</a>
                                </div>
                            </div>
                        </div>
                        <div id="popular" class="container tab-pane fade">
                            <div class="tn-news">
                                <div class="tn-img">
                                    <img src="img/news-350x223-4.jpg" />
                                </div>
                                <div class="tn-title">
                                    <a href="">
                                        Немного текста о новостях</a>
                                </div>
                            </div>
                            <div class="tn-news">
                                <div class="tn-img">
                                    <img src="img/news-350x223-5.jpg" />
                                </div>
                                <div class="tn-title">
                                    <a href="">
                                        Немного текста о новостях</a>
                                </div>
                            </div>
                            <div class="tn-news">
                                <div class="tn-img">
                                    <img src="img/news-350x223-1.jpg" />
                                </div>
                                <div class="tn-title">
                                    <a href="">
                                        Немного текста о новостях</a>
                                </div>
                            </div>
                        </div>
                        <div id="latest" class="container tab-pane fade">
                            <div class="tn-news">
                                <div class="tn-img">
                                    <img src="img/news-350x223-2.jpg" />
                                </div>
                                <div class="tn-title">
                                    <a href="">
                                        Немного текста о новостях</a>
                                </div>
                            </div>
                            <div class="tn-news">
                                <div class="tn-img">
                                    <img src="img/news-350x223-3.jpg" />
                                </div>
                                <div class="tn-title">
                                    <a href="">
                                        Немного текста о новостях</a>
                                </div>
                            </div>
                            <div class="tn-news">
                                <div class="tn-img">
                                    <img src="img/news-350x223-4.jpg" />
                                </div>
                                <div class="tn-title">
                                    <a href="">
                                        Немного текста о новостях</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <ul class="nav nav-pills nav-justified">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="pill" href="#m-viewed">Наиболее</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#m-read">Читаемые</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#m-recent">Последние</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div id="m-viewed" class="container tab-pane active">
                            <div class="tn-news">
                                <div class="tn-img">
                                    <img src="img/news-350x223-5.jpg" />
                                </div>
                                <div class="tn-title">
                                    <a href="">
                                        Немного текста о новостях</a>
                                </div>
                            </div>
                            <div class="tn-news">
                                <div class="tn-img">
                                    <img src="img/news-350x223-4.jpg" />
                                </div>
                                <div class="tn-title">
                                    <a href="">
                                        Немного текста о новостях</a>
                                </div>
                            </div>
                            <div class="tn-news">
                                <div class="tn-img">
                                    <img src="img/news-350x223-3.jpg" />
                                </div>
                                <div class="tn-title">
                                    <a href="">
                                        Немного текста о новостях</a>
                                </div>
                            </div>
                        </div>
                        <div id="m-read" class="container tab-pane fade">
                            <div class="tn-news">
                                <div class="tn-img">
                                    <img src="img/news-350x223-2.jpg" />
                                </div>
                                <div class="tn-title">
                                    <a href="">
                                        Немного текста о новостях</a>
                                </div>
                            </div>
                            <div class="tn-news">
                                <div class="tn-img">
                                    <img src="img/news-350x223-1.jpg" />
                                </div>
                                <div class="tn-title">
                                    <a href="">
                                        Немного текста о новостях</a>
                                </div>
                            </div>
                            <div class="tn-news">
                                <div class="tn-img">
                                    <img src="img/news-350x223-3.jpg" />
                                </div>
                                <div class="tn-title">
                                    <a href="">
                                        Немного текста о новостях</a>
                                </div>
                            </div>
                        </div>
                        <div id="m-recent" class="container tab-pane fade">
                            <div class="tn-news">
                                <div class="tn-img">
                                    <img src="img/news-350x223-4.jpg" />
                                </div>
                                <div class="tn-title">
                                    <a href="">
                                        Немного текста о новостях</a>
                                </div>
                            </div>
                            <div class="tn-news">
                                <div class="tn-img">
                                    <img src="img/news-350x223-5.jpg" />
                                </div>
                                <div class="tn-title">
                                    <a href="">
                                        Немного текста о новостях</a>
                                </div>
                            </div>
                            <div class="tn-news">
                                <div class="tn-img">
                                    <img src="img/news-350x223-1.jpg" />
                                </div>
                                <div class="tn-title">
                                    <a href="">
                                        Немного текста о новостях</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Tab News Start-->

    <!-- Main News Start-->
    <div class="main-news">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mn-img">
                                <img src="img/news-350x223-1.jpg" />
                                <div class="mn-title">
                                    <a href="">Еще один текст о новостях</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mn-img">
                                <img src="img/news-350x223-2.jpg" />
                                <div class="mn-title">
                                    <a href="">Еще один текст о новостях</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mn-img">
                                <img src="img/news-350x223-3.jpg" />
                                <div class="mn-title">
                                    <a href="">Еще один текст о новостях</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mn-img">
                                <img src="img/news-350x223-4.jpg" />
                                <div class="mn-title">
                                    <a href="">Еще один текст о новостях</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mn-img">
                                <img src="img/news-350x223-5.jpg" />
                                <div class="mn-title">
                                    <a href="">Еще один текст о новостях</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mn-img">
                                <img src="img/news-350x223-1.jpg" />
                                <div class="mn-title">
                                    <a href="">Еще один текст о новостях</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mn-img">
                                <img src="img/news-350x223-2.jpg" />
                                <div class="mn-title">
                                    <a href="">Еще один текст о новостях</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mn-img">
                                <img src="img/news-350x223-3.jpg" />
                                <div class="mn-title">
                                    <a href="">Еще один текст о новостях</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mn-img">
                                <img src="img/news-350x223-4.jpg" />
                                <div class="mn-title">
                                    <a href="">Еще один текст о новостях</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="mn-list">
                        <h2>Прочитайте больше</h2>
                        <ul>
                            <li><a href="">Немного текста о новостях</a></li>
                            <li><a href="">Время, которое заканчивается диаметром или ценой</a></li>
                            <li><a href="">Страх не подростков</a></li>
                            <li><a href="">Даже игры жизни много</a></li>
                            <li><a href="">Не больше планирования, чем масса жизни</a></li>
                            <li><a href="">Но перед макияжем</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main News End-->


    <!-- Footer Bottom Start -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6 copyright">
                    <p>Copyright &copy; 2022 BigBrain</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Bottom End -->

    <!-- Back to Top -->
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/slick/slick.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>