{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta name="description" content="Askbootstrap">
   <meta name="author" content="Askbootstrap">
   <title>Listening - BigBrain</title>
   <!-- Favicon Icon -->
   <link rel="icon" type="image/png" href="img/favicon.png">
   <!-- Bootstrap core CSS-->
   <link href="{% static 'speaking_listening/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
   <!-- Custom fonts for this template-->
   <link href="{% static 'speaking_listening/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet"
      type="text/css">
   <!-- Custom styles for this template-->
   <link href="{% static 'speaking_listening/css/osahan.css' %}" rel="stylesheet">
   <!-- Owl Carousel -->
   <link rel="stylesheet" href="{% static 'speaking_listening/vendor/owl-carousel/owl.carousel.css' %}">
   <link rel="stylesheet" href="{% static 'speaking_listening/vendor/owl-carousel/owl.theme.css' %}">
</head>

<body id="page-top">
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="channel-brand" href=""><span title="" data-placement="top" data-toggle="tooltip"
            data-original-title="Verified"></span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
         aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav mr-auto">
            <li class="nav-item">
               <a class="nav-link" href="{% url 'index' %}">BigBrain</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="{% url 'blog_index' %}">Блог</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="{% url 'news_index' %}">Новости</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="{% url 'speaking' %}">Speaking</a>
            </li>
            <li class="nav-item active">
               <a class="nav-link" href="{% url 'listening_single' %}">Listening <span
                     class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="{% url 'writing_index' %}">Writing</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="{% url 'reading_index' %}">Reading</a>
            </li>
         </ul>
         <form class="form-inline my-2 my-lg-0">
            <input class="form-control form-control-sm mr-sm-1" type="search" placeholder="Поиск"
               aria-label="Search"><button class="btn btn-outline-success btn-sm my-2 my-sm-0" type="submit"><i
                  class="fas fa-search"></i></button> &nbsp;&nbsp;&nbsp; <button class="btn btn-outline-danger btn-sm"
               type="button">Подписывайся <strong>1.4M</strong></button>
         </form>
      </div>
   </nav>
   &nbsp;&nbsp;
   <div class="container-fluid">
      <div class="video-block section-padding">
         <div class="row">
            <div class="col-md-12">
               <div class="main-title">
                  <div class="btn-group float-right right-action">
                     <a href="#" class="right-action-link text-gray" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Сортировать по <i class="fa fa-caret-down" aria-hidden="true"></i>
                     </a>
                     <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#"><i class="fas fa-fw fa-star"></i> &nbsp; Самые популярные</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-fw fa-signal"></i> &nbsp; Просмотрено</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-fw fa-times-circle"></i> &nbsp;

                           Закрывать</a>
                     </div>
                  </div>
                  <h6>Видео</h6>
               </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
               <div class="video-card">
                  <div class="video-card-image">
                     <a class="play-icon" href="#"><i class="fas fa-play-circle"></i></a>
                     <a href="#"><img class="img-fluid" src="{% static 'speaking_listening/img/v1.png' %}" alt=""></a>
                     <div class="time">3:50</div>
                  </div>
                  <div class="video-card-body">
                     <div class="video-title">
                        <a href="#">Существует множество вариаций пассажей Лорема.</a>
                     </div>
                     <div class="video-page text-success">
                        Образование <a title="" data-placement="top" data-toggle="tooltip" href="#"
                           data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
                     </div>
                     <div class="video-view">
                        1.8M просмотр &nbsp;<i class="fas fa-calendar-alt"></i> 11 месяцев назад
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
               <div class="video-card">
                  <div class="video-card-image">
                     <a class="play-icon" href="#"><i class="fas fa-play-circle"></i></a>
                     <a href="#"><img class="img-fluid" src="{% static 'speaking_listening/img/v2.png' %}" alt=""></a>
                     <div class="time">3:50</div>
                  </div>
                  <div class="video-card-body">
                     <div class="video-title">
                        <a href="#">Существует множество вариаций пассажей Лорема</a>
                     </div>
                     <div class="video-page text-success">
                        Образование <a title="" data-placement="top" data-toggle="tooltip" href="#"
                           data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
                     </div>
                     <div class="video-view">
                        1.8M просмотр &nbsp;<i class="fas fa-calendar-alt"></i> 11 месяц назад
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
               <div class="video-card">
                  <div class="video-card-image">
                     <a class="play-icon" href="#"><i class="fas fa-play-circle"></i></a>
                     <a href="#"><img class="img-fluid" src="{% static 'speaking_listening/img/v3.png' %}" alt=""></a>
                     <div class="time">3:50</div>
                  </div>
                  <div class="video-card-body">
                     <div class="video-title">
                        <a href="#">Существует множество вариаций пассажей Лорема</a>
                     </div>
                     <div class="video-page text-danger">
                        Образование <a title="" data-placement="top" data-toggle="tooltip" href="#"
                           data-original-title="Unverified"><i class="fas fa-frown text-danger"></i></a>
                     </div>
                     <div class="video-view">
                        1.8M просмотр &nbsp;<i class="fas fa-calendar-alt"></i> 11 месяц назад
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
               <div class="video-card">
                  <div class="video-card-image">
                     <a class="play-icon" href="#"><i class="fas fa-play-circle"></i></a>
                     <a href="#"><img class="img-fluid" src="{% static 'speaking_listening/img/v4.png' %}" alt=""></a>
                     <div class="time">3:50</div>
                  </div>
                  <div class="video-card-body">
                     <div class="video-title">
                        <a href="#">Существует множество вариаций пассажей Лорема</a>
                     </div>
                     <div class="video-page text-success">
                        Образование <a title="" data-placement="top" data-toggle="tooltip" href="#"
                           data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
                     </div>
                     <div class="video-view">
                        1.8M просмотр &nbsp;<i class="fas fa-calendar-alt"></i> 11 месяц назад
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
               <div class="video-card">
                  <div class="video-card-image">
                     <a class="play-icon" href="#"><i class="fas fa-play-circle"></i></a>
                     <a href="#"><img class="img-fluid" src="{% static 'speaking_listening/img/v5.png' %}" alt=""></a>
                     <div class="time">3:50</div>
                  </div>
                  <div class="video-card-body">
                     <div class="video-title">
                        <a href="#">Существует множество вариаций пассажей Лорема</a>
                     </div>
                     <div class="video-page text-success">
                        Образование <a title="" data-placement="top" data-toggle="tooltip" href="#"
                           data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
                     </div>
                     <div class="video-view">
                        1.8M просмотр &nbsp;<i class="fas fa-calendar-alt"></i> 11 месяц назад
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
               <div class="video-card">
                  <div class="video-card-image">
                     <a class="play-icon" href="#"><i class="fas fa-play-circle"></i></a>
                     <a href="#"><img class="img-fluid" src="{% static 'speaking_listening/img/v6.png' %}" alt=""></a>
                     <div class="time">3:50</div>
                  </div>
                  <div class="video-card-body">
                     <div class="video-title">
                        <a href="#">Существует множество вариаций пассажей Лорема</a>
                     </div>
                     <div class="video-page text-danger">
                        Образование <a title="" data-placement="top" data-toggle="tooltip" href="#"
                           data-original-title="Unverified"><i class="fas fa-frown text-danger"></i></a>
                     </div>
                     <div class="video-view">
                        1.8M просмотр &nbsp;<i class="fas fa-calendar-alt"></i> 11 месяц назад
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
               <div class="video-card">
                  <div class="video-card-image">
                     <a class="play-icon" href="#"><i class="fas fa-play-circle"></i></a>
                     <a href="#"><img class="img-fluid" src="{% static 'speaking_listening/img/v7.png' %}" alt=""></a>
                     <div class="time">3:50</div>
                  </div>
                  <div class="video-card-body">
                     <div class="video-title">
                        <a href="#">Существует множество вариаций пассажей Лорема</a>
                     </div>
                     <div class="video-page text-success">
                        Образование <a title="" data-placement="top" data-toggle="tooltip" href="#"
                           data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
                     </div>
                     <div class="video-view">
                        1.8M просмотр &nbsp;<i class="fas fa-calendar-alt"></i> 11 месяц назад
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
               <div class="video-card">
                  <div class="video-card-image">
                     <a class="play-icon" href="#"><i class="fas fa-play-circle"></i></a>
                     <a href="#"><img class="img-fluid" src="{% static 'speaking_listening/img/v8.png' %}" alt=""></a>
                     <div class="time">3:50</div>
                  </div>
                  <div class="video-card-body">
                     <div class="video-title">
                        <a href="#">Существует множество вариаций пассажей Лорема</a>
                     </div>
                     <div class="video-page text-success">
                        Образование <a title="" data-placement="top" data-toggle="tooltip" href="#"
                           data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
                     </div>
                     <div class="video-view">
                        1.8M просмотр &nbsp;<i class="fas fa-calendar-alt"></i> 11 месяц назад
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
               <div class="video-card">
                  <div class="video-card-image">
                     <a class="play-icon" href="#"><i class="fas fa-play-circle"></i></a>
                     <a href="#"><img class="img-fluid" src="{% static 'speaking_listening/img/v1.png' %}" alt=""></a>
                     <div class="time">3:50</div>
                  </div>
                  <div class="video-card-body">
                     <div class="video-title">
                        <a href="#">Существует множество вариаций пассажей Лорема</a>
                     </div>
                     <div class="video-page text-success">
                        Образование <a title="" data-placement="top" data-toggle="tooltip" href="#"
                           data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
                     </div>
                     <div class="video-view">
                        1.8M просмотр &nbsp;<i class="fas fa-calendar-alt"></i> 11 месяц назад
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
               <div class="video-card">
                  <div class="video-card-image">
                     <a class="play-icon" href="#"><i class="fas fa-play-circle"></i></a>
                     <a href="#"><img class="img-fluid" src="{% static 'speaking_listening/img/v2.png' %}" alt=""></a>
                     <div class="time">3:50</div>
                  </div>
                  <div class="video-card-body">
                     <div class="video-title">
                        <a href="#">Существует множество вариаций пассажей Лорема</a>
                     </div>
                     <div class="video-page text-success">
                        Образование <a title="" data-placement="top" data-toggle="tooltip" href="#"
                           data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
                     </div>
                     <div class="video-view">
                        1.8M просмотр &nbsp;<i class="fas fa-calendar-alt"></i> 11 месяц назад
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
               <div class="video-card">
                  <div class="video-card-image">
                     <a class="play-icon" href="#"><i class="fas fa-play-circle"></i></a>
                     <a href="#"><img class="img-fluid" src="{% static 'speaking_listening/img/v3.png' %}" alt=""></a>
                     <div class="time">3:50</div>
                  </div>
                  <div class="video-card-body">
                     <div class="video-title">
                        <a href="#">Существует множество вариаций пассажей Лорема</a>
                     </div>
                     <div class="video-page text-danger">
                        Образование <a title="" data-placement="top" data-toggle="tooltip" href="#"
                           data-original-title="Unverified"><i class="fas fa-frown text-danger"></i></a>
                     </div>
                     <div class="video-view">
                        1.8M просмотр &nbsp;<i class="fas fa-calendar-alt"></i> 11 месяц назад
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
               <div class="video-card">
                  <div class="video-card-image">
                     <a class="play-icon" href="#"><i class="fas fa-play-circle"></i></a>
                     <a href="#"><img class="img-fluid" src="{% static 'speaking_listening/img/v4.png' %}" alt=""></a>
                     <div class="time">3:50</div>
                  </div>
                  <div class="video-card-body">
                     <div class="video-title">
                        <a href="#">Существует множество вариаций пассажей Лорема</a>
                     </div>
                     <div class="video-page text-success">
                        Образование <a title="" data-placement="top" data-toggle="tooltip" href="#"
                           data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
                     </div>
                     <div class="video-view">
                        1.8M просмотр &nbsp;<i class="fas fa-calendar-alt"></i> 11 месяц назад
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center pagination-sm mb-0">
               <li class="page-item disabled">
                  <a tabindex="-1" href="#" class="page-link">Предыдущий</a>
               </li>
               <li class="page-item active"><a href="#" class="page-link">1</a></li>
               <li class="page-item"><a href="#" class="page-link">2</a></li>
               <li class="page-item"><a href="#" class="page-link">3</a></li>
               <li class="page-item">
                  <a href="#" class="page-link">Следующий</a>
               </li>
            </ul>
         </nav>
      </div>
      <!-- /.container-fluid -->
      &nbsp;&nbsp;
      <!-- Sticky Footer -->
      <footer class="sticky-footer ml-0">
         <div class="container">
            <div class="row no-gutters">
               <div class="col-lg-6 col-sm-6">
                  <p class="mt-1 mb-0"><strong class="text-dark">BigBrain</strong>.
                     <small class="mt-0 mb-0"><a class="text-primary" target="_blank" href="#">Listening</a>
                     </small>
                  </p>
               </div>
            </div>
         </div>
      </footer>
      <!-- /.content-wrapper -->
      <!-- /#wrapper -->
      <!-- Scroll to Top Button-->
      <a class="scroll-to-top rounded" href="#page-top">
         <i class="fas fa-angle-up"></i>
      </a>

      <!-- Bootstrap core JavaScript-->
 \
</body>

</html>