<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta name="description" content="Askbootstrap">
   <meta name="author" content="Askbootstrap">
   <title>Listening - BigBrain</title>
   <!-- Favicon Icon -->
   <link rel="icon" type="image/png" href="img/favicon.png">
   <!-- Bootstrap core CSS-->
   <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
   <!-- Custom fonts for this template-->
   <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
   <!-- Custom styles for this template-->
   <link href="css/osahan.css" rel="stylesheet">
   <!-- Owl Carousel -->
   <link rel="stylesheet" href="vendor/owl-carousel/owl.carousel.css">
   <link rel="stylesheet" href="vendor/owl-carousel/owl.theme.css">
</head>

<body id="page-top">
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="channel-brand" href=""><span title="" data-placement="top" data-toggle="tooltip"
            data-original-title="Verified"></span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
         aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav mr-auto">
            <li class="nav-item">
               <a class="nav-link" href="#">BigBrain</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="#">Блог</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="#">Новости</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="#">Speaking</a>
            </li>
            <li class="nav-item active">
               <a class="nav-link" href="#">Listening <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="#">Writing</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="#">Reading</a>
            </li>
         </ul>
         <form class="form-inline my-2 my-lg-0">
            <input class="form-control form-control-sm mr-sm-1" type="search" placeholder="Поиск"
               aria-label="Search"><button class="btn btn-outline-success btn-sm my-2 my-sm-0" type="submit"><i
                  class="fas fa-search"></i></button> &nbsp;&nbsp;&nbsp; <button class="btn btn-outline-danger btn-sm"
               type="button">Подписывайся <strong>1.4M</strong></button>
         </form>
      </div>
   </nav>
   &nbsp;&nbsp;
   <div class="container-fluid pb-0">
      <div class="video-block section-padding">
         <div class="row">
            <div class="col-md-8">
               <div class="single-video-left">
                  <div class="single-video">
                     <iframe width="100%" height="315"
                        src="https://www.youtube-nocookie.com/embed/8LWZSGNjuF0?rel=0&amp;controls=0&amp;showinfo=0"
                        frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                  </div>
                  <div class="single-video-title box mb-3">
                     <h2><a href="#">Вопреки распространенному мнению, «Возвращение домой» — нет.</a></h2>
                     <p class="mb-0"><i class="fas fa-eye"></i> 2,729,347 просмотр</p>
                  </div>
                  <div class="single-video-author box mb-3">
                     <div class="float-right"><button class="btn btn-danger" type="button">Подписывайся
                           <strong>1.4M</strong></button> <button class="btn btn btn-outline-danger" type="button"><i
                              class="fas fa-bell"></i></button></div>
                     <img class="img-fluid" src="img/s4.png" alt="">
                     <p><a href="#"><strong>Алекс Канал</strong></a> <span title="" data-placement="top"
                           data-toggle="tooltip" data-original-title="Verified"><i
                              class="fas fa-check-circle text-success"></i></span></p>
                     <small>Опубликовано 10 августа 2018 г.</small>
                  </div>
                  <div class="single-video-info-content box mb-3">
                     <h6>В ролях:</h6>
                     <p>Nathan Drake , Victor Sullivan , Sam Drake , Elena Fisher</p>
                     <h6>Категория :</h6>
                     <p>Gaming , PS4 Exclusive , Gameplay , 1080p</p>
                     <h6>О :</h6>
                     <p>Это давно установленный факт, что читатель будет отвлекаться на удобочитаемое содержание
                        страницы при просмотре ее макета. Смысл использования Lorem Ipsum в том, что он имеет более или
                        менее нормальное распределение букв, в отличие от использования «Контент здесь, контент здесь»,
                        что делает его похожим на читабельный английский. Многие настольные издательские пакеты и
                        редакторы веб-страниц теперь используют Lorem Ipsum в качестве текста модели по умолчанию, и
                        поиск по слову «lorem ipsum» обнаружит многие веб-сайты, которые все еще находятся в зачаточном
                        состоянии. Различные версии развивались с течением времени Различные версии развивались на
                        протяжении многих лет, иногда </p>
                     <h6>Теги :</h6>
                     <p class="tags mb-0">
                        <span><a href="#">Uncharted 4</a></span>
                        <span><a href="#">Playstation 4</a></span>
                        <span><a href="#">Gameplay</a></span>
                        <span><a href="#">1080P</a></span>
                        <span><a href="#">ps4Share</a></span>
                        <span><a href="#">+ 6</a></span>
                     </p>
                  </div>
               </div>
            </div>
            <div class="col-md-4">
               <div class="single-video-right">
                  <div class="row">
                     <div class="col-md-12">
                        <div class="main-title">
                           <div class="btn-group float-right right-action">
                              <a href="#" class="right-action-link text-gray" data-toggle="dropdown"
                                 aria-haspopup="true" aria-expanded="false">
                                 Сортировать по <i class="fa fa-caret-down" aria-hidden="true"></i>
                              </a>
                              <div class="dropdown-menu dropdown-menu-right">
                                 <a class="dropdown-item" href="#"><i class="fas fa-fw fa-star"></i> &nbsp; Самые
                                    популярные</a>
                                 <a class="dropdown-item" href="#"><i class="fas fa-fw fa-signal"></i> &nbsp;
                                    Просмотрено</a>
                                 <a class="dropdown-item" href="#"><i class="fas fa-fw fa-times-circle"></i> &nbsp;

                                    Закрывать</a>
                              </div>
                           </div>
                           <h6>Следующий</h6>
                        </div>
                     </div>
                     <div class="col-md-12">
                        <div class="video-card video-card-list">
                           <div class="video-card-image">
                              <a class="play-icon" href="#"><i class="fas fa-play-circle"></i></a>
                              <a href="#"><img class="img-fluid" src="img/v1.png" alt=""></a>
                              <div class="time">3:50</div>
                           </div>
                           <div class="video-card-body">
                              <div class="btn-group float-right right-action">
                                 <a href="#" class="right-action-link text-gray" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                 </a>
                                 <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#"><i class="fas fa-fw fa-star"></i> &nbsp; Самые
                                       популярные</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-fw fa-signal"></i> &nbsp;
                                       Просмотрено</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-fw fa-times-circle"></i>
                                       &nbsp; Закрывать</a>
                                 </div>
                              </div>
                              <div class="video-title">
                                 <a href="#">Вот много вариаций пассажей Лорема</a>
                              </div>
                              <div class="video-page text-success">
                                 Образование <a title="" data-placement="top" data-toggle="tooltip" href="#"
                                    data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
                              </div>
                              <div class="video-view">
                                 1.8M просмотр &nbsp;<i class="fas fa-calendar-alt"></i> 11 месяц назадяцев назад
                              </div>
                           </div>
                        </div>
                        <div class="video-card video-card-list">
                           <div class="video-card-image">
                              <a class="play-icon" href="#"><i class="fas fa-play-circle"></i></a>
                              <a href="#"><img class="img-fluid" src="img/v2.png" alt=""></a>
                              <div class="time">3:50</div>
                           </div>
                           <div class="video-card-body">
                              <div class="btn-group float-right right-action">
                                 <a href="#" class="right-action-link text-gray" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                 </a>
                                 <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#"><i class="fas fa-fw fa-star"></i> &nbsp; Самые
                                       популярные</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-fw fa-signal"></i> &nbsp;
                                       Просмотрено</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-fw fa-times-circle"></i>
                                       &nbsp; Закрывать</a>
                                 </div>
                              </div>
                              <div class="video-title">
                                 <a href="#">Duis aute irure dolor in reprehenderit in.</a>
                              </div>
                              <div class="video-page text-success">
                                 Образование <a title="" data-placement="top" data-toggle="tooltip" href="#"
                                    data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
                              </div>
                              <div class="video-view">
                                 1.8M просмотр &nbsp;<i class="fas fa-calendar-alt"></i> 11 месяц назад
                              </div>
                           </div>
                        </div>
                        <div class="video-card video-card-list">
                           <div class="video-card-image">
                              <a class="play-icon" href="#"><i class="fas fa-play-circle"></i></a>
                              <a href="#"><img class="img-fluid" src="img/v3.png" alt=""></a>
                              <div class="time">3:50</div>
                           </div>
                           <div class="video-card-body">
                              <div class="btn-group float-right right-action">
                                 <a href="#" class="right-action-link text-gray" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                 </a>
                                 <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#"><i class="fas fa-fw fa-star"></i> &nbsp; Самые
                                       популярные</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-fw fa-signal"></i> &nbsp;
                                       Просмотрено</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-fw fa-times-circle"></i>
                                       &nbsp; Закрывать</a>
                                 </div>
                              </div>
                              <div class="video-title">
                                 <a href="#">Culpa qui officia deserunt mollit anim</a>
                              </div>
                              <div class="video-page text-success">
                                 Образование <a title="" data-placement="top" data-toggle="tooltip" href="#"
                                    data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
                              </div>
                              <div class="video-view">
                                 1.8M просмотр &nbsp;<i class="fas fa-calendar-alt"></i> 11 месяц назад
                              </div>
                           </div>
                        </div>
                        <div class="video-card video-card-list">
                           <div class="video-card-image">
                              <a class="play-icon" href="#"><i class="fas fa-play-circle"></i></a>
                              <a href="#"><img class="img-fluid" src="img/v4.png" alt=""></a>
                              <div class="time">3:50</div>
                           </div>
                           <div class="video-card-body">
                              <div class="btn-group float-right right-action">
                                 <a href="#" class="right-action-link text-gray" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                 </a>
                                 <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#"><i class="fas fa-fw fa-star"></i> &nbsp; Самые
                                       популярные</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-fw fa-signal"></i> &nbsp;
                                       Просмотрено</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-fw fa-times-circle"></i>
                                       &nbsp; Закрывать</a>
                                 </div>
                              </div>
                              <div class="video-title">
                                 <a href="#">Deserunt mollit anim id est laborum.</a>
                              </div>
                              <div class="video-page text-success">
                                 Образование <a title="" data-placement="top" data-toggle="tooltip" href="#"
                                    data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
                              </div>
                              <div class="video-view">
                                 1.8M просмотр &nbsp;<i class="fas fa-calendar-alt"></i> 11 месяц назад
                              </div>
                           </div>
                        </div>
                        <div class="video-card video-card-list">
                           <div class="video-card-image">
                              <a class="play-icon" href="#"><i class="fas fa-play-circle"></i></a>
                              <a href="#"><img class="img-fluid" src="img/v5.png" alt=""></a>
                              <div class="time">3:50</div>
                           </div>
                           <div class="video-card-body">
                              <div class="btn-group float-right right-action">
                                 <a href="#" class="right-action-link text-gray" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                 </a>
                                 <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#"><i class="fas fa-fw fa-star"></i> &nbsp; Самые
                                       популярные</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-fw fa-signal"></i> &nbsp;
                                       Просмотрено</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-fw fa-times-circle"></i>
                                       &nbsp; Закрывать</a>
                                 </div>
                              </div>
                              <div class="video-title">
                                 <a href="#">Exercitation ullamco laboris nisi ut.</a>
                              </div>
                              <div class="video-page text-success">
                                 Образование <a title="" data-placement="top" data-toggle="tooltip" href="#"
                                    data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
                              </div>
                              <div class="video-view">
                                 1.8M просмотр &nbsp;<i class="fas fa-calendar-alt"></i> 11 месяц назад
                              </div>
                           </div>
                        </div>
                        <div class="video-card video-card-list">
                           <div class="video-card-image">
                              <a class="play-icon" href="#"><i class="fas fa-play-circle"></i></a>
                              <a href="#"><img class="img-fluid" src="img/v6.png" alt=""></a>
                              <div class="time">3:50</div>
                           </div>
                           <div class="video-card-body">
                              <div class="btn-group float-right right-action">
                                 <a href="#" class="right-action-link text-gray" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                 </a>
                                 <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#"><i class="fas fa-fw fa-star"></i> &nbsp; Самые
                                       популярные</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-fw fa-signal"></i> &nbsp;
                                       Просмотрено</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-fw fa-times-circle"></i>
                                       &nbsp; Закрывать</a>
                                 </div>
                              </div>
                              <div class="video-title">
                                 <a href="#">There are many variations of passages of Lorem</a>
                              </div>
                              <div class="video-page text-success">
                                 Образование <a title="" data-placement="top" data-toggle="tooltip" href="#"
                                    data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
                              </div>
                              <div class="video-view">
                                 1.8M просмотр &nbsp;<i class="fas fa-calendar-alt"></i> 11 месяц назад
                              </div>
                           </div>
                        </div>
                        <div class="video-card video-card-list">
                           <div class="video-card-image">
                              <a class="play-icon" href="#"><i class="fas fa-play-circle"></i></a>
                              <a href="#"><img class="img-fluid" src="img/v2.png" alt=""></a>
                              <div class="time">3:50</div>
                           </div>
                           <div class="video-card-body">
                              <div class="btn-group float-right right-action">
                                 <a href="#" class="right-action-link text-gray" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                 </a>
                                 <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#"><i class="fas fa-fw fa-star"></i> &nbsp; Самые
                                       популярные</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-fw fa-signal"></i> &nbsp;
                                       Просмотрено</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-fw fa-times-circle"></i>
                                       &nbsp; Закрывать</a>
                                 </div>
                              </div>
                              <div class="video-title">
                                 <a href="#">Duis aute irure dolor in reprehenderit in.</a>
                              </div>
                              <div class="video-page text-success">
                                 Образование <a title="" data-placement="top" data-toggle="tooltip" href="#"
                                    data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
                              </div>
                              <div class="video-view">
                                 1.8M просмотр &nbsp;<i class="fas fa-calendar-alt"></i> 11 месяц назад
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- /.container-fluid -->
   <!-- Sticky Footer -->
   <footer class="sticky-footer ml-0">
      <div class="container">
         <div class="row no-gutters">
            <div class="col-lg-6 col-sm-6">
               <p class="mt-1 mb-0"><strong class="text-dark">BigBrain</strong>.
                  <small class="mt-0 mb-0"><a class="text-primary" target="_blank"
                        href="https://templatespoint.net/">Listening</a>
                  </small>
               </p>
            </div>
         </div>
      </div>
   </footer>
   </div>
   <!-- /.content-wrapper -->
   </div>
   <!-- /#wrapper -->
   <!-- Scroll to Top Button-->
   <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
   </a>
   <!-- Logout Modal-->
   <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
               <button class="Закрывать" type="button" data-dismiss="modal" aria-label="Закрывать">
                  <span aria-hidden="true">×</span>
               </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
               <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
               <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
         </div>
      </div>
   </div>
   <!-- Bootstrap core JavaScript-->
   <script src="vendor/jquery/jquery.min.js"></script>
   <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
   <!-- Core plugin JavaScript-->
   <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
   <!-- Owl Carousel -->
   <script src="vendor/owl-carousel/owl.carousel.js"></script>
   <!-- Custom scripts for all pages-->
   <script src="js/custom.js"></script>
</body>

</html>