{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Персональный сайт BigBrain</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
    <style>
        body {
            background-color: #232323;
        }

        .carousel-item {
            height: 90vh;
            background: #000;
            color: white;
            position: relative;
        }

        .overlay-image {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
            background-position: center;
            background-size: cover;
            opacity: 0.7;
        }

        .fit-image {
            width: 80%;
            object-fit: contain;
            margin: 1.5rem;
            opacity: 0.75;

        }
    </style>

    <header class="p-3 bg-black text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="{% url 'index' %}" class="nav-link px-2 text-white">BigBrain</a></li>
                    <li><a href="{% url 'blog_index' %}" class="nav-link px-2 text-white">Блог</a></li>
                    <li><a href="{% url 'news_index' %}" class="nav-link px-2 text-white">Новости</a></li>
                    <li><a href="{% url 'speaking' %}" class="nav-link px-2 text-white">Speaking</a></li>
                    <li><a href="{% url 'listening_single' %}" class="nav-link px-2 text-white">Listening</a></li>
                    <li><a href="{% url 'writing_index' %}" class="nav-link px-2 text-white">Writing</a></li>
                    <li><a href="{% url 'reading_index' %}" class="nav-link px-2 text-white">Reading</a></li>
                </ul>

                <div class="text-end">
                    <button type="button" class="btn btn-outline-light me-2">Авторизоваться</button>
                    <button type="button" class="btn btn-warning">Зарегистрироваться</button>
                </div>
            </div>
        </div>
    </header>


    <div id="myCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
        </ol>

        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="2000">
                <div class="overlay-image" style="background-image: url(../static/slider_blog.jpg);"></div>
                <div class="container" style="position: absolute; bottom: 0; left: 0; right: 0; padding-bottom: 50px;">
                    <h1>Личный блог</h1>
                    <p>Мой личный блог, в котором я буду отражать свою повседневную деятельность</p>
                    <a href="{% url 'blog_index' %}" class="btn btn-lg btn-dark">Перейти в Блог</a>
                </div>
            </div>
            <div class="carousel-item" data-interval="1000">
                <div class=" overlay-image" style="background-image: url(../static/news.jpg);"></div>
                <div class="container" style="position: absolute; bottom: 0; left: 0; right: 0; padding-bottom: 50px;">
                    <h1>Новости</h1>
                    <p>Все последние и квалифицированные международные новости</p>
                    <a href="{% url 'news_index' %}" class="btn btn-lg btn-dark">Перейти к новостям</a>
                </div>
            </div>
        </div>
        <a href="#myCarousel" class="carousel-control-prev" role="button" data-bs-slide="prev">
            <span class="sr-only"></span>
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a href="#myCarousel" class="carousel-control-next" role="button" data-bs-slide="next">
            <span class="sr-only"></span>
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
    </div>



    <div class="container">
        <div class="row">
            <div class="col-6">
                <a href="{% url 'listening_single' %}">
                    <img src="../static/listening.jpg" alt="Listening" class="fit-image">
                </a>
            </div>
            <div class="col-6">
                <a href="{% url 'speaking' %}">
                    <img src="../static/speaking.jpg" alt="Speaking" class="fit-image">
                </a>
            </div>
            <div class="col-6">
                <a href="{% url 'reading_index' %}">
                    <img src="../static/reading.jpg" alt="Reading" class="fit-image">
                </a>
            </div>
            <div class="col-6">
                <a href="{% url 'writing_index' %}">
                    <img src="../static/writing.jpg" alt="Writing" class="fit-image">
                </a>
            </div>
        </div>
    </div>

    <footer class="p-3 bg-black text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center">
                <p>Copyright &copy; 2022 BigBrain</p>
            </div>
        </div>
    </footer>



    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous">
    </script>
</body>

</html>